html, body, div, header, h1, ul, li, a, label, input, img, hr, figure, main, section, article, h2, h3, h4, h5, p, h6, footer {
    margin: 0;
    padding: 0;
}

#wrapper {
    background: #F7EEDF;
    max-width: 1020px;
    margin: 0 auto;
    width: 1000px;
}

body {
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 13px;
}

h1 {
    background: #FBBE61;
    color: #FFFEFF;
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
    padding: 20px;
}

#navigation {
    background: #40312A;
    border: 1px solid black;
    height: 20px;
    padding: 20px;
}

    #navigation nav {
        float: left;
    }

#search {
    float: right;
    padding-right: 10px;
}

label {
    color: white;
    padding-right: 5px;
    text-transform: uppercase;
    vertical-align: middle;
}

input {
    background: #2C8897;
    border: none;
    height: 20px;
    max-width: 210px;
    margin-right: 5px;
}

header img {
    vertical-align: middle;
    width: 15px;
}

li {
    display: inline-block;
}

    li a {
        color: white;
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        font-weight: normal;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
    }

.clearfix {
    clear: both;
}

section {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 65%;
}

aside {
    background: #EDDEC7;
    float: left;
    height: 700px;
    padding-top: 20px;
    width: 35%;
}

h2 {
    color: #2C8895;
    padding-bottom: 20px;
}

h3 {
    color: #3A302E;
}

#archives {
    background: #2D8A9B;
    color: white;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 89%;
}

h4 {
    color: #CF923F;
    font-style: italic;
}

h6 {
    color: #2E8694;
}

h2 {
    font-family: Cambria;
    font-size: 22px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
}

h4 {
    font-family: Cambria;
    font-size: 10px;
}

article {
    padding-bottom: 25px;
    width: 550px;
}

figure {
    padding-top: 20px;
    padding-bottom: 20px;
}

figcaption {
    background: rgba(0,0, 0, 0.3);
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    height: 30px;
    margin: -34px -20px -20px -1px;
    padding-top: 5px;
    padding-left: 5px;
    position: relative;
    width: 100%;
}

img {
    z-index: 4;
}

p {
    padding-top: 20px;
}

h5 {
    border-bottom: 1px solid #39A4B6;
    padding: 20px 0 20px 20px;
}

#archives p {
    padding-left: 20px;
    padding-bottom: 15px;
}

hr {
    background-color: #39A4B6;
    border: 0;
    color: #39A4B6;
    height: 1px;
    width: 100%;
}

#info {
    margin: 0 auto;
    text-align: left;
    width: 90%;
}

h6 {
    font-size: 18px;
    padding-bottom: 10px;
}

.continue-reading {
    color: #227B9B;
}

a {
    text-decoration: none;
}

article p {
    line-height: 20px;
}

footer {
    background: #2C8897;
    color: white;
    font-family: Cambria;
    padding: 10px 0 30px 20px;
}

header li a:hover {
    color: #2C8897;
}

aside p {
    cursor: pointer;
    padding: 1rem;
}

    aside p:hover {
        background: #39A4B6;
        text-decoration: underline;
    }
